
# ---- Runtime & IO ----
PATH: 
RESULTS: 
MODE: 2                 # 1: train, 2: test
MODEL: 2                # 2: inpaint model
MASK: 6                 # 0:none | 1:block | 2:center | 3:external | 4:half-ext-half-block | 5:mix | 6:external non-random
SEED: 10
GPU: [0]
AUGMENTATION_TRAIN: 0   

# ---- Data flists ----
TRAIN_INPAINT_IMAGE_FLIST: 
TEST_INPAINT_IMAGE_FLIST: 
TRAIN_MASK_FLIST:          
TEST_MASK_FLIST:           
STYLE_REF_FLIST:           

# ---- Optim ----
LR: 0.00005              # generator lr
D2G_LR: 0.1             
BETA1: 0.9
BETA2: 0.999
WD: 0
LR_Decay: 1              

# ---- Train schedule ----
BATCH_SIZE: 1
INPUT_SIZE:
MAX_ITERS: 300001

# ---- Loss weights ----
L1_LOSS_WEIGHT: 1.0
STYLE_LOSS_WEIGHT: 50
CONTENT_LOSS_WEIGHT: 0.7
INPAINT_ADV_LOSS_WEIGHT: 0.1

# ---- GAN ----
GAN_LOSS: lsgan          # nsgan | lsgan | hinge
GAN_POOL_SIZE: 0

# ---- Logging ----
SAVE_INTERVAL: 2000
EVAL_INTERVAL: 0
LOG_INTERVAL: 100

# ============================
USE_STYLE: true             
STYLE_DIM: 64                 
STYLE_ALPHA_INIT: 0.1         
STYLE_REF_STRATEGY: ref_flist  
CONSIST_LOSS_WEIGHT: 0.1     

LM_R_MIN: 0.10         
LM_R_MAX: 1.00        
LM_GAMMA: 1.5           

USE_EDFFN: true         
EDFFN_PATCH: 8          
EDFFN_DROP: 0.0


USE_WANDB: false
TENSORBOARD_LOGDIR: 


EXPORT_ONNX: false        
STYLE_SIM_TAU_LOW: 0.4       
STYLE_MIN_SIM: 0.2          
STYLE_GATE_SMOOTH: 3        
STYLE_LOWFREQ_RATIO: 0.25     

STYLE_GAMMA: 2.0
STYLE_MIN_SIM_WEIGHT: 0.1

TEXTURE_LOSS_WEIGHT: 0.5  
EDGE_LOSS_WEIGHT: 0.5         
REFINE_BLOCK_WEIGHT: 1.0     

REL_LR_MULT: 5.0
